In [1]:
import pandas as pd

normal = pd.read_csv("data/raw/normal_traffic.csv")
scan = pd.read_csv("data/raw/port_scan.csv")

normal["label"].value_counts()
scan["destination_port"].nunique()

80

In [2]:
from backend.app.services.log_service import load_all_logs, aggregate_by_time_window

df = load_all_logs()
df.head()

,timestamp,source_ip,destination_ip,destination_port,protocol,packet_count,request_rate,success_flag,label
0,2026-01-27T22:44:21.606989,10.0.0.99,192.168.1.10,20,TCP,1,27.33,False,port_scan
1,2026-01-27T22:44:21.656989,10.0.0.99,192.168.1.10,21,TCP,2,28.38,False,port_scan
2,2026-01-27T22:44:21.706989,10.0.0.99,192.168.1.10,22,TCP,1,24.07,False,port_scan
3,2026-01-27T22:44:21.756989,10.0.0.99,192.168.1.10,23,TCP,1,35.88,False,port_scan
4,2026-01-27T22:44:21.806989,10.0.0.99,192.168.1.10,24,TCP,2,25.56,False,port_scan

In [3]:
from backend.app.services.log_service import load_all_logs, aggregate_by_time_window

df = load_all_logs()
df.head()

,timestamp,source_ip,destination_ip,destination_port,protocol,packet_count,request_rate,success_flag,label
0,2026-01-27T22:44:21.606989,10.0.0.99,192.168.1.10,20,TCP,1,27.33,False,port_scan
1,2026-01-27T22:44:21.656989,10.0.0.99,192.168.1.10,21,TCP,2,28.38,False,port_scan
2,2026-01-27T22:44:21.706989,10.0.0.99,192.168.1.10,22,TCP,1,24.07,False,port_scan
3,2026-01-27T22:44:21.756989,10.0.0.99,192.168.1.10,23,TCP,1,35.88,False,port_scan
4,2026-01-27T22:44:21.806989,10.0.0.99,192.168.1.10,24,TCP,2,25.56,False,port_scan

In [5]:
agg[agg["label"] == "port_scan"].head()

NameError: name 'agg' is not defined

In [ ]:
agg[agg["label"] == "port_scan"].head()

NameError: name 'agg' is not defined

In [6]:
from backend.app.services.log_service import load_all_logs, aggregate_by_time_window

df = load_all_logs()
df.head()

,timestamp,source_ip,destination_ip,destination_port,protocol,packet_count,request_rate,success_flag,label
0,2026-01-27T22:44:21.606989,10.0.0.99,192.168.1.10,20,TCP,1,27.33,False,port_scan
1,2026-01-27T22:44:21.656989,10.0.0.99,192.168.1.10,21,TCP,2,28.38,False,port_scan
2,2026-01-27T22:44:21.706989,10.0.0.99,192.168.1.10,22,TCP,1,24.07,False,port_scan
3,2026-01-27T22:44:21.756989,10.0.0.99,192.168.1.10,23,TCP,1,35.88,False,port_scan
4,2026-01-27T22:44:21.806989,10.0.0.99,192.168.1.10,24,TCP,2,25.56,False,port_scan

In [7]:
agg = aggregate_by_time_window(df, window_seconds=5)
agg.head()

ValueError: Invalid frequency: 5S. Failed to parse with error message: ValueError("Invalid frequency: S. Failed to parse with error message: KeyError('S'). Did you mean s?")

In [1]:
from backend.app.services.log_service import load_all_logs, aggregate_by_time_window

In [2]:
df = load_all_logs()
agg = aggregate_by_time_window(df, window_seconds=5)
agg.head()

,timestamp,source_ip,packets_per_second,avg_request_rate,failed_connections,unique_ports,label
0,2026-01-27 22:27:20,10.0.0.17,4,1.46,0,1,normal
1,2026-01-27 22:27:20,10.0.0.7,2,1.84,0,1,normal
2,2026-01-27 22:27:25,10.0.0.10,3,1.64,0,1,normal
3,2026-01-27 22:27:25,10.0.0.16,3,0.78,0,1,normal
4,2026-01-27 22:27:25,10.0.0.2,2,1.48,0,1,normal

In [3]:
agg[agg["label"] == "port_scan"].head()

,timestamp,source_ip,packets_per_second,avg_request_rate,failed_connections,unique_ports,label
181,2026-01-27 22:44:20,10.0.0.99,140,28.998088,68,68,port_scan
182,2026-01-27 22:44:25,10.0.0.99,28,27.556667,12,12,port_scan

In [4]:
from backend.app.services.log_service import load_all_logs, aggregate_by_time_window

df = load_all_logs()
agg = aggregate_by_time_window(df, window_seconds=5)

In [5]:
agg.head()
agg["label"].value_counts()

label
normal       181
port_scan      2
Name: count, dtype: int64

In [6]:
import os

os.makedirs("data/processed", exist_ok=True)
agg.to_csv("data/processed/aggregated_traffic.csv", index=False)

print("Saved:", "data/processed/aggregated_traffic.csv")

Saved: data/processed/aggregated_traffic.csv